@page "/calculatorpage"

<PageTitle>Calculator</PageTitle>

<h1>Calculator</h1>

<label for="modalcolour">Modal colour:</label>
<select id="modalcolour" @bind="@selectedcolour">
    @foreach (var colour in colours)
    {
        <option value="@colour.Key">@colour.Value</option>
    }
</select>

<select id="textStyle" @bind="@selectedTextStyle">
    @foreach (var style in textStyles)
    {
        <option value="@style.Key">@style.Value</option>
    }
</select>

<hr />

<button class="btn btn-primary" @onclick="@openCalculator">Open Calculator</button>

@code {

    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    private string selectedcolour = "";
    private string selectedTextStyle = "";

    private Dictionary<string, string> colours = new Dictionary<string, string>
    {
        { "", "Plain" },
        { "bg-primary", "Blue" },
        { "bg-danger", "Red" },
        { "bg-warning", "Yellow" },
    };

    private Dictionary<string, string> textStyles = new Dictionary<string, string>
    {
        { "style-formal", "Plain" },
        { "style-groovy", "Groovy" },
        { "style-loud", "Bold" },
    };


    private void openCalculator()
    {
        var options = new ModalOptions
            {
                UseCustomLayout = true
            };

        var parameters = new ModalParameters()
            .Add(nameof(CalculatorComponent.Message), "Add and Subtract")
            .Add(nameof(CalculatorComponent.Colour), selectedcolour)
            .Add(nameof(CalculatorComponent.Style), selectedTextStyle);


        Modal.Show<CalculatorComponent>("Calculator", parameters, options);
    }

}